main{
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(200, 162, 200);
    width: 100%;
}
p,li{   
    font-size: 20px;
}

[target="_blank"]{
    color: red;
}
nav{
    background-color: rgb(66, 2, 66);
}
