body {
    background-color: rgb(238, 236, 236);
}
main{
    color: rgb(61, 55, 55);
}

p,li{
    font-size: 20px;
}

[target] {
    color: cornflowerblue;
    text-decoration: none;
}
[target="_blank"]{
    color: red;
}
